.donation-content .section-hero>.container {
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
}
.donation-content .section-hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
    margin-top:2rem;
}
.donation-content .hero-image-container {
    position: relative;
}
.donation-content .hero-image-container>img {
    max-width: 100%;
    border-radius: 1rem;
}
.donation-content .hero-image-container>span {
    max-width: 100%;
    position: absolute;
    top: 25.1rem;
    right: 46.8rem;
}
.donation-content .hero-image-container>span img {
    width: 16.4rem;
    height: 14.8rem;
}
.donation-content .section-progress{
    background-color: rgb(252,249,247);
}
.donation-content .section-progress>.container{
    padding: 6rem 5rem 6rem 5rem;
    position: relative;
}
.donation-content .section-progress .section-progress-content{
    display: flex; 
    text-align: center;
    flex-direction: column;   
    gap:2.25rem;
    position: relative;
}
.donation-content .section-progress .section-progress-content> h3{
    margin-top: 2rem;
    margin-bottom: 0;
}
.progress{
    width: 32.5rem;
    height: 3rem;
    border-radius: 5.6rem; 
    margin-left: auto;
    margin-right: auto; 
}
.progress .progress-bar{
    border-radius: 5.6rem;
    background: linear-gradient(90deg, rgb(198, 199, 136) 0%, rgb(27, 127, 49) 100%); 
}
.progress-percantage {
    position: relative;
    right: -7.3rem;
    color: rgb(255, 255, 255); 
}
.donation-content .section-content>.container{
    padding-top: 3.5rem;
    padding-bottom: 5rem;
}
.donation-content .section-content .container img  {
    max-width: 100%;
    border-radius: 1rem;
}
.section-content  .section-content-definion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
}
.section-content .container .row:last-child{
    text-align: center;
}
.sponsors > .container{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.sponsors .container> h2{
    margin-bottom: 1.5rem;
}
.sponsors .space-row{
    column-gap: 15rem;
    justify-content:center;
}
.sponsors .container .row div:last-child{
   margin-top: 1.5rem;
}
