.donation-content .section-hero>.container {
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
}
.donation-content .section-hero-content>h1, .section-hero-content>p {
    margin-bottom: 2rem;
}
.hero-image-container figure img:last-child{
    position:absolute;
    width: 16rem;
    bottom:-11rem;
    left:-15rem;
}
.donation-content .section-progress {
    background-color: rgb(252, 249, 247);
}
.donation-content .section-progress>.container {
    padding: 3rem 5rem 3rem 5rem;
    position: relative;
}
.donation-content .section-progress .section-progress-content {
    text-align: center;
}
.section-progress .section-progress-content>h3 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.section-progress-content .progress, .section-progress-content p{
    margin-bottom: 1.5rem;
}
.progress {
    max-width: 32rem;
    width:100%;
    height: 3rem;
    border-radius: 5.6rem;
    margin-left: auto;
    margin-right: auto;
}
.progress .progress-bar {
    border-radius: 5.6rem;
    background: linear-gradient(90deg, rgb(198, 199, 136) 0%, rgb(27, 127, 49) 100%);
}
.progress-percantage {
    position: relative;
    text-align: end;
}
.section-progress-content p{
    max-width: 34rem;
    margin-left: auto;
    margin-right: auto;
}
.section-content>.container {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}
.section-content> .container .row:first-child,.section-content> .container .row:nth-child(2){
    margin-bottom: 5rem;
}
.section-content .container img {
    max-width: 100%;
    border-radius: 1rem;
}
.section-content .container>.row div:first-child{
    margin-right: 1rem;
}
.section-content .container:nth-child(2)>div{
    margin-right: 1rem;
}
.section-content .container .row:last-child {
    text-align: center;
    margin-bottom: 5rem;
}
.section-sponsors .container img{
    max-width: 100%;
}
@media (max-width:1024px) {
    .section-content-definion .text-xl{
        font-size: 1.25rem;
    }
}
@media (max-width:991.98px) {
    .section-hero{
        background-image: url("/images/donation_hero_image.jpg");
        background-size: cover;
        object-fit: cover;
    }
    .section-hero > .container{    
        text-align: center;
        z-index: 1;
        position: relative;
        color: rgb(255, 255, 255);
    }
    .donation-content .section-hero::after{
        display: inline-block;
        background:rgba(0,0,0,.5);
        content: "";
        top: 0;
        right:0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
    .section-hero-content {
        position: relative;
        margin: 0 auto;
    }
    .section-hero-content>h1 {
        margin-bottom: 1rem;
        color:rgb(255, 255, 255);
        text-shadow: 1px 1px rgb(0 0 0 / 20%)
    }
    .section-hero-content>p{
        text-shadow: 1px 1px rgb(0 0 0 / 20%);
    } 
    .donation-content .section-hero> .container{
        padding-bottom: 2rem;
    }
    .section-content> .container{
        padding-bottom: 3rem;
    }
    .section-content>.container .row {
        justify-content: center;
    }
    .section-progress .progress{
        text-align: center;
    }
    .section-progress-content .text-lg{
        font-size: 1.125rem;
    }
}
@media(max-width:768px) {
    .section-content-definion .text-xl{
        font-size: 1rem;
    }
}
@media(max-width: 575.98px){ 
    .section-content>.container div:nth-child(2) {
        display: flex;
        flex-direction: column-reverse;
    }
    .section-content>.container div img {
        margin-bottom: 1rem;
    }
    .section-content .container>.row div:first-child{
        margin-right:0;
    }
    .section-content .container:nth-child(2)>div{
        margin-right:0;
    }
}
@media only screen and (max-width:480px) {
    .donation-content .section-progress>.container {
        padding-top: 1.3rem;
    }
    .section-progress-content .text-lg{
        font-size: 0.875rem;
    }
    .sponsors .container:last-child{
        margin-top: 1rem;
    }
}