/* Section Hero */
.donation-content .section-hero> .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
@media (max-width:991px) {
    .section-hero{
        position:relative;      
        background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.1),
          rgba(0, 0, 0, 0.4)
        ),
        url("../images/donation_hero_image.jpg");
        background-size: cover;
        object-fit: cover;
    }
    .section-hero > .container{    
        text-align: center;
        color: rgb(255, 255, 255);
        padding-bottom: 2rem;
    }
}  
@media(max-width: 575px){ 
    .section-hero{
        padding-top: 3rem;
    }
} 
.section-hero-content> h1{
    margin-bottom: 2rem;
}
.section-hero-content> p {
    margin-bottom: 2rem;
}
@media (max-width:991px) {
    .section-hero-content {
        position: relative;
        margin: 0 auto;
    }
    .section-hero-content> h1 {
        margin-bottom: 1rem;
        color:rgb(255, 255, 255);
        text-shadow: 1px 1px rgb(0 0 0 / 30%)
    }
    .section-hero-content> p{
        text-shadow: 1px 1px rgb(0 0 0 / 30%);
    } 
}   
.hero-image-container> figure{
    margin:0;
    position:relative;
}
.hero-image-container> figure .section-hero-bird{
    position:absolute;
    width: 16rem;
    bottom:-11rem;
    left:-15rem;
    max-width: 260px;
}
@media (max-width:991px) {
    .hero-image-container> figure .section-hero-bird{
        bottom: -14rem;
        left: -2rem;
    }
}
@media only screen and (max-width:480px) {
    .hero-image-container> figure .section-hero-bird{
        bottom: -10rem;
        max-width: 172px;
    }
}
/* Section Progress */
.section-progress {
    background-color: rgb(252, 249, 247);
}
.section-progress> .container {
    padding: 3rem 5rem 3rem 5rem;
    position: relative;
}
@media(max-width: 575px){ 
    .section-progress> .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
} 
@media only screen and (max-width:480px) {
    .section-progress> .container {
        padding-top: 2rem;
    }  
}
.section-progress-content> h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.section-progress-content .progress{
    margin-bottom: 2rem;
}
.progress {
    max-width: 32rem;
    width:100%;
    height: 3rem;
    border-radius: 5rem;
    margin-left: auto;
    margin-right: auto;
}
.progress .progress-bar {
    border-radius: 5rem;
    background: linear-gradient(90deg, rgb(198, 199, 136) 0%, rgb(27, 127, 49) 100%);
}
.progress-percantage {
    position: relative;
    text-align: end;
    padding-right: 1rem;
}
.section-progress-content> p{
    max-width: 34rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
@media (max-width:991px) {
    .section-progress-content> p .text-lg{
        font-size: 1.125rem;
    }
}
@media only screen and (max-width:480px) {
    .section-progress-content> p .text-lg{
        font-size: 0.875rem;
    }
}
/* Section Content */    
.section-content> .container {
    padding-top: 4rem;
    padding-bottom: 2rem;
}
@media(max-width: 575px){
    .section-content> .container{
        padding-bottom: 1rem;
    }
}    
@media (max-width:991px) {
    .section-content> .container .row {
        justify-content: center;
    }
}    
.section-content> .container .section-content-list{
    margin-bottom: 5rem;
}
.section-content> .container .section-content-list> div:first-child{
    margin-right: 1rem;
}
@media(max-width: 575px){ 
    .section-content> .container .section-content-list:nth-child(2) {
        display: flex;
        flex-direction: column-reverse;
    }
    .section-content .container .section-content-list div:first-child{
        margin-right: 0;
    }
    .section-content> .container .section-content-list{
        margin-bottom: 2rem;
    }
} 
.section-content .section-content-image {
    max-width: 100%;
    border-radius: 1rem;
}
@media(max-width: 575px){ 
    .section-content .section-content-image{
        margin-bottom: 1rem;
    }
} 
.section-content-definion{
    margin-top: auto;
    margin-bottom: auto;
}
@media (max-width:1024px) {
    .section-content-definion .text-xl{
        font-size: 1.25rem;
    }
}
@media(max-width: 767px) {
    .section-content-definion .text-xl{
        font-size: 1rem;
    }
}  
/* buttom of section content  */
.section-content .container .section-content-buttom{
    text-align: center;
    margin-bottom: 5rem;
}
@media (max-width: 575.98px){
    .section-content .container .section-content-buttom{
    margin-bottom: 0rem;
}}
/* Section Sponsors */
.section-sponsors .section-sponsors-logo{
    max-width: 260px;
    width: 100%;
    padding: 0 1rem;
    display: inline-block;
}